<nav>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  <a href="/auth/logout">Logout</a>
</nav>
<div class="centerwrapper">

  <div class="loginwrapper">

    <form class="logform" action="/auth/login" method="POST" id="form-container">

      <input class="signlog" id="username" type="text" name="username" placeholder="JonSnow">

      <br><br>


      <input class="signlog" id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>
      <button style="left: 7.5vw; position: relative;" class="">LOGIN
      </button>

      {{!-- <img class="logingubbe" src="/images/3Arkiv.png"> --}}

    </form>

    </input>
    </input>