@font-face {
  font-family: "Favorit Medium Lining";
  src: url("Favorit-MediumLining.woff2") format("woff2"),
    url("Favorit-MediumLining.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Favorit Light Lining";
  src: url("Favorit-LightLining.woff2") format("woff2"),
    url("Favorit-LightLining.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-RegularItalic.woff2") format("woff2"),
    url("Favorit-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Favorit Bold Lining";
  src: url("Favorit-BoldLining.woff2") format("woff2"),
    url("Favorit-BoldLining.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Favorit Regular";
  src: url("Favorit-Regular.woff2") format("woff2"),
    url("Favorit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Light.woff2") format("woff2"),
    url("Favorit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-MediumItalic.woff2") format("woff2"),
    url("Favorit-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-LightItalic.woff2") format("woff2"),
    url("Favorit-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-BoldItalic.woff2") format("woff2"),
    url("Favorit-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Favorit Regular Lining";
  src: url("Favorit-RegularLining.woff2") format("woff2"),
    url("Favorit-RegularLining.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Bold.woff2") format("woff2"),
    url("Favorit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-MonoBeta.woff2") format("woff2"),
    url("Favorit-MonoBeta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Medium.woff2") format("woff2"),
    url("Favorit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font: 14px "Favorit Medium", Helvetica, Arial, sans-serif;
  // display: grid;
  // justify-items: center;
  background-color: rgba($color: blue, $alpha: 0.1);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0px;
  color: #60c56f;
  // background-color: black;
}

button {
  font-family: "Favorit";
  border-radius: 0px;
  height: 30px;
  width: 100px;
  margin-top: 20px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
  font-family: "Favorit Regular Lining";
}
a:hover {
  font-family: "Favorit Regular";
}

nav {
  z-index: 50;
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
  font-size: 1.5rem;
}

///button

#hide {
  z-index: 40;
  position: relative;
}

.logbutton {
  background-color: transparent;
  border: none;
}
///grid

.centerwrapper {
  display: flex;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}
.indexwrapper {
  display: flex;
  justify-content: center;
  width: 100vw;

  font-size: 1rem;
  color: black;
  top: 10vh;
  position: relative;
}

.loginwrapper {
  left: 40vw;
  top: 30vh;
  position: relative;
}
////Typografi

.indexlist {
  width: 15vw;
  line-height: 30px;
}

.indexform {
  width: 27vw;
  margin: 20px;
  margin-top: 0px;
}

.indexbox {
  display: flex;
  justify-content: left;
  margin: 10px;
  font-size: 1rem;
  color: black;
  width: 27vw;
}

.topic {
  font-size: 1.2rem;
  font-weight: 800;
}

.linkcontainer {
  display: flex;
  justify-content: center;
}
.linkset {
  font-size: 5rem;
  margin: 100px;
  text-decoration: none;
}

////inputs

.projectinput {
  width: 20vw;
  height: 40px;
  background-color: rgba($color: blue, $alpha: 0.4);
  color: white;
  margin: 10px;
  font-size: 20px;
}
.projectinput2 {
  width: 18vw;
}

.projectinput::placeholder {
  color: white;
  opacity: 0.4;
}

.subcomment {
  color: rgba($color: black, $alpha: 0.7);
  left: 20px;
  position: relative;
  font-size: 0.8rem;
}

.drag {
  position: absolute;
  width: 150px;
  cursor: grab;
  top: 100px;
  left: 40vw;
  color: black;
  padding: 10px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 1rem;
  margin: 20px;
  margin-top: 0px;
  background-color: rgba($color: white, $alpha: 0.65);
}
.userC {
  font-family: "Favorit Regular Lining";
}

.boxborder2 {
  box-shadow: 5px 5px 30px rgba($color: red, $alpha: 0.2);
  border: 2px solid red;
}

.draghidden {
  display: none;
}

.comment-button {
  margin-bottom: 10px;
}

.drag4 {
  width: 4vw;
}
.drag2 {
  width: 4vw;
  cursor: grab;
}
.drag3 {
  width: 4vw;
  position: relative;
}

.inline {
  display: inline-block;
}
.red {
  overflow-y: scroll;
}
.actionset > div {
  background: black;
  width: 100px;
  height: 50px;
  color: white;
}

#addscroll {
  top: 70px;
  left: 150px;
  width: 150px;
  height: 250px;
  position: absolute;
  border: none;
  opacity: 0;
  cursor: help;
}

.thumb {
  width: 100px;
}

.form {
  z-index: 10;
  position: relative;
}

////images
.submitgubbe {
  height: 200px;
  position: relative;
}

.transparent {
  background-color: transparent;
}

.logingubbe {
  height: 200px;
  position: relative;
}
.body-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  height: 20vh;
  top: 100px;
  left: 10vw;
  width: 70vw;
  height: 60vh;
  overflow: hidden;
}

.body-wrapper img {
  max-height: initial;
}

.bodyrendering {
  position: absolute;
  z-index: -10;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 100px;
}

.maprendering {
  border: 10px solid blue;
  box-shadow: 5px 5px 50px rgba($color: blue, $alpha: 0.5);
}
.image {
  width: 70vw;
  height: 60vh;
  border: 1px solid black;
  overflow: hidden;
}

.img-wrapper {
  width: 100vw;
  display: flex;
  justify-items: center;
}
.peoplebox {
  position: absolute;

  width: 100vw;
  height: 40vh;
  z-index: 0;
  bottom: 0px;
}

.image img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.rendering {
  width: 100%;
  position: relative;
}
.row {
  display: flex;
  width: 100vw;
  left: 0px;
}
.city {
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: flex-start;
  width: 20vw;
  border: 1px solid black;
  top: 100px;
  position: absolute;
  color: black;
  padding: 10px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 20px;
  margin: 20px;
  margin-top: 0px;
  background-color: rgba($color: white, $alpha: 0.5);
}

.boxborder {
  box-shadow: 5px 5px 50px rgba($color: red, $alpha: 0.5);
  border: 5px solid red;
}

.info {
  width: 20vw;
}

#cosmos {
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5) inset;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
#universe {
  background-color: rgb(230, 230, 230);
  display: block;
  width: 100%;
  position: fixed;
}
.grid {
  z-index: -100;
  position: absolute;
  left: -15;
}
