@font-face {
  font-family: "Favorit Medium Lining";
  src: url("Favorit-MediumLining.woff2") format("woff2"),
    url("Favorit-MediumLining.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Favorit Light Lining";
  src: url("Favorit-LightLining.woff2") format("woff2"),
    url("Favorit-LightLining.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-RegularItalic.woff2") format("woff2"),
    url("Favorit-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Favorit Bold Lining";
  src: url("Favorit-BoldLining.woff2") format("woff2"),
    url("Favorit-BoldLining.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Regular.woff2") format("woff2"),
    url("Favorit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Light.woff2") format("woff2"),
    url("Favorit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-MediumItalic.woff2") format("woff2"),
    url("Favorit-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-LightItalic.woff2") format("woff2"),
    url("Favorit-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-BoldItalic.woff2") format("woff2"),
    url("Favorit-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Favorit Regular Lining";
  src: url("Favorit-RegularLining.woff2") format("woff2"),
    url("Favorit-RegularLining.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Bold.woff2") format("woff2"),
    url("Favorit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-MonoBeta.woff2") format("woff2"),
    url("Favorit-MonoBeta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("Favorit-Medium.woff2") format("woff2"),
    url("Favorit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font: 14px "Favorit Medium", Helvetica, Arial, sans-serif;
  // display: grid;
  // justify-items: center;
  background-color: rgba($color: blue, $alpha: 0.1);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0px;
  color: #60c56f;
  // background-color: black;
}

a {
  color: #60c56f;
}

///grid

.indexwrapper {
  display: flex;
  font-size: 10px;
  color: black;
}
////Typografi

.indexlist {
  width: 15vw;
  line-height: 30px;
}

.indexform {
  width: 15vw;
}
.topic {
  font-size: 15px;
  font-weight: 800;
}

.linkcontainer {
  display: flex;
  justify-content: center;
}
.linkset {
  font-size: 100px;
}

.userC {
  font-size: 8px;
  color: white;
  opacity: 0.5;
}

.subcomment {
  color: white;
  left: 20px;
  position: relative;
}

.drag {
  position: absolute;
  background-color: rgba($color: blue, $alpha: 0.3);
  width: 150px;
  cursor: grab;
  top: 100px;
  left: 40vw;
  height: auto;
  border: 2px solid magenta;
}

.draghidden {
  display: none;
}

.comment-button {
  margin-bottom: 10px;
}

.drag4 {
  width: 4vw;
}
.drag2 {
  width: 4vw;
  cursor: grab;
}
.drag3 {
  width: 4vw;
  position: relative;
}

.inline {
  display: inline-block;
}
.red {
  overflow-y: scroll;
}
.actionset > div {
  background: black;
  width: 100px;
  height: 50px;
  color: white;
}

#addscroll {
  top: 70px;
  left: 150px;
  width: 150px;
  height: 250px;
  position: absolute;
  border: none;
  opacity: 0.4;
  cursor: help;
}

.thumb {
  width: 100px;
}

.form {
  z-index: 10;
  position: relative;
}

.info {
  width: 20vw;
  border: 1px solid black;
}
////images

.body-wrapper {
  display: flex;
  justify-content: center;
}
.bodyrendering {
  width: 80%;
  position: absolute;
  z-index: -10;
  border: 10px solid #60c56f;
  margin-top: 20px;
  box-shadow: 5px 5px 50px rgba($color: blue, $alpha: 0.1);
}

.maprendering {
  border: 10px solid blue;
  box-shadow: 5px 5px 50px rgba($color: blue, $alpha: 0.5);
}
.image {
  width: 70vw;
  height: 60vh;
  border: 1px solid black;
  overflow: hidden;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}
.peoplebox {
  position: absolute;

  width: 100vw;
  height: 40vh;
  justify-content: center;
  z-index: 0;
  bottom: 0px;
}

.indexbox {
  display: flex;
  justify-content: left;
  margin: 10px;
  font-size: 10px;
  color: black;
}

.image img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.rendering {
  width: 100%;
  position: relative;
}
.row {
  display: flex;
  width: 100vw;
  left: 0px;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#cosmos {
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5) inset;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
#universe {
  background-color: rgb(230, 230, 230);
  display: block;
  width: 100%;
  position: fixed;
}
.grid {
  z-index: -100;
  position: absolute;
  left: -15;
}
